.HackNews {
    display: flex;
    flex-direction: column;
    width: 60vw;
    border: 1px solid red;
}

.HackNews .list {
    border: 1px solid blue;    
}

.HackNews .list .listItem {
    border: 0.1px solid yellow;
}

.HackNews .spinner {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 44, 44, 0.774);
  
    margin: 10px;    
    animation: anim 1.2s infinite ease-in-out;
}

  
@keyframes anim {
    0% { transform: perspective(120px) rotateX(0deg) rotateY(0deg);}
    50% { transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);}
    100% { transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);}
}