.Test {
    margin: auto;
    width: 100vw;
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;    
}

.Test .grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 55% 45%;
    height: calc(100vh - 123px);
}

.Test .grid div {
    display: flex;
}

.Test .grid .four {    
    height: calc(100% + 5rem);
    position: relative;
    top:-5rem;    
    display: grid;    
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;    
}
