.Info {
    margin: auto;
    width: 100vw;
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;    
}

.Info .grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 123px);
}

.Info .grid div {
    display: flex;    
}