.Events {
    margin: auto;
}
.Events div{
    border-radius: 1rem;
}

.Events .outer {
    background-color: rgba(255, 0, 0, 0.719);
    width: 80vw;
    height: 40vh;
    display: flex;
}
.Events .mid {
    background-color: rgba(0, 128, 0, 0.788);
    width: 60vw;
    height: 20vh;
    margin: auto;
    display: flex;
}
.Events .inn {
    background-color: rgba(0, 0, 255, 0.644);
    width: 40vw;
    height: 10vh;
    margin: auto;
}

.Events .other {
    background-color: rgba(0, 128, 0, 0.788);
    width: 60vw;
    height: 5vh;
    /* margin: auto; */
    position: relative;
    top: 5rem;
    left: 5rem;
}