.Weather {   
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    height: 180px;
}

.Weather .title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.Weather .title > * {
    margin-right: 10px;
}

.Weather .WeatherContainer {
    display: flex;    
}

.Weather .WeatherContainer .Day{
    display: flex;    
    margin: auto;
    flex-direction: column;
    justify-content: space-between;    
}

.Weather .WeatherContainer .Day img {
    width: 50%;
    margin-left:20px;
}

.Weather .WeatherContainer .Day > div {
    margin: auto;    
}

.Weather .WeatherContainer .Day .date {
   position: absolute;
   border: 1px solid rgba(128, 128, 128, 0.555);
   background: rgba(255, 255, 255, 0.692);
   border-radius: 10px;
   padding: 0 5px 0 5px;
   color: black;   
}