.Misc {
    margin: auto;
    width: 100vw;
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    /* border: 1px solid red;     */
}

.Misc .Grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 132px);   
}

.Misc .Grid .cont {
    display: flex;
    flex-direction: column;
}

.Misc .Grid > div {
    display: flex;    
    /* border: 1px solid blue; */
}

.Misc .Grid > div > span {
    font-size: 5vw;
    margin: auto;
    /* border: 1px solid red; */
}

.Misc .twoComp {
    display: flex;
    width: 50vw;
    /* border: 1px solid red; */
    justify-content: space-around;
}
