.Game {    
    width: 100vw;
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;    
}
.Game .topBar {
    width: 50vw;
    display: flex;
    height: 7vh;    
    align-items: flex-end; 
    justify-content: space-between;      
}

.Game .gameOver {
    position: absolute;
    z-index: 3;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
}

.Game .gameOver .label {
    margin: auto;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
    width: 50vw;    
    align-items: center; 
}

.Game .Grid {    
    width:95%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;    
    height: 65vh;
}
  
.Game .hole {    
    overflow: hidden;
    position: relative;    
}
  
.Game .hole:after {
    display: block;
    background: url(dirt.svg) bottom center no-repeat;
    background-size: contain;
    content: '';
    width: 100%;
    height:90px;
    position: absolute;
    z-index: 2;
    bottom: -30px;    
}
  
.Game .mole {    
    position: relative;
    top: 100%;    
    height: 39vh;    
    transition:all 0.4s;    
}

.Game .Grid .hole1 .mole {
    background: url('./Pict/01_George.png') bottom center no-repeat;
}
.Game .Grid .hole2 .mole {
    background: url('./Pict/02_George.png') bottom center no-repeat;
}
.Game .Grid .hole3 .mole {
    background: url('./Pict/03_Peppa.png') bottom center no-repeat;
}
.Game .Grid .hole4 .mole {
    background: url('./Pict/04_Peppa.png') bottom center no-repeat;
}
.Game .Grid .hole5 .mole {
    background: url('./Pict/05_Papa.png') bottom center no-repeat;
}
.Game .Grid .hole6 .mole {
    background: url('./Pict/06_Mama.png') bottom center no-repeat;
}
  
.Game .hole.up .mole {
    top: 0;
}

.Game button {
    height: 60px;
    padding: 5px;
    width: 200px;
    font-size: 2rem;
    background: none;
    color: white;
    transition: all ease-in-out .05s
}

.Game button:hover {
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.089);
}