.Misc {
    margin: auto;
    width: 100vw;
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
}

.Misc .Grid {
    /* border: 1px solid red;     */
    display: grid;
    grid-template-areas: 
    "social fetch"
    "social four"
    "weather four";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 132px);   
}

.Misc .Grid .SocialCardUI {
    grid-area: social;
}
.Misc .Grid .Weather {
    grid-area: weather;
}
.Misc .Grid .four {
    grid-area: four;
    display: grid;    
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;    
}

.Misc .Grid .cont {
    grid-area: fetch;
    display: flex;
    flex-direction: column;
}

.Misc .Grid > div {
    /* display: flex;     */
    /* border: 1px solid blue; */
}

.Misc .twoComp {
    display: flex;
    width: 50vw;
    /* border: 1px solid red; */
    justify-content: space-around;
}
