.Misc {
    /* margin: auto; */
    /* width: 100vw; */
    /* height: calc(100vh - 75px); */
    
    flex-direction: column;
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    /* border: 1px solid red; */
    /* overflow: hidden; */
}

.Misc .title {
    display: flex;
}

.Misc .title h1 {    
    margin: 0 auto 0.2rem auto;
}

.Misc .Grid {    
    /* border: 1px solid yellow; */
    display: grid;
    grid-template-areas: 
    "social fetch"
    "social var"
    "weather var";
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 1fr 1fr;
    /* height: calc(100vh - 132px); */
}

.Misc .Grid > div {
    /* border: 1px solid red;    */
}

.Misc .Grid .SocialCardUI {
    grid-area: social;
}

.Misc .Grid .Weather {
    grid-area: weather;
}

.Misc .Grid .Variables {
    grid-area: var;
}

.Misc .Grid .cont {
    grid-area: fetch;
    display: flex;
    flex-direction: column;
}

.Misc .cont .twoComp {
    display: flex;
    width: 50vw;    
    justify-content: space-around;
}
