.beer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.beer .mainTitle {   
    display: flex;
    align-items: baseline;
    margin-top: 0.5rem;
}

.beer .mainTitle h3 {
    margin-left: 1rem;
    color: rgb(187, 29, 55);
}

.beer .mainTitle span {
    margin-left: 2rem;    
}

.beer .catalog {    
    width: 100vw;
    /* height: 80vh; */
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid grey; */
    overflow: scroll;
    overflow-x: hidden;    
}

.beer .catalog .catalogItem {
    border: 1px solid grey;
    width: calc(90vw / 3);
    margin: 1rem;
    padding: 1rem;
    min-height: 300px;
}

.beer .catalog .catalogItem h5{
    color: rgb(133, 73, 202);
}

.beer .catalog .catalogItem p span {
    color: rgb(135, 112, 216);
}

.beer .catalog .catalogItem .title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.5rem;
}

.beer .catalog .catalogItem .title h3{
    margin-left: 1rem;
    color: rgb(224, 1, 1);
}

.beer .catalog .catalogItem .title img{
    height: 100px;
    background: rgba(255, 255, 255, 0.658);
}

.beer .itemPage {
    /* border: 1px solid red; */
    width: 95%;
    /*display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.5rem; */
    /* width: 50%; */
}

.beer .itemPage .img img{
    /* border: 1px solid red; */
    background: rgba(255, 255, 255, 0.658);
    padding: 1rem;
    height: 300px;
}

.beer .itemPage .content h3 {
    color: yellowgreen;
}

.beer .itemPage .content h4 {
    /* border: 1px solid red; */
    display: inline;
    margin-right: 0.5rem;
}

.beer .itemPage .content .ing {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.beer .errorIndicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.beer .errorIndicator img{
    max-width: 90%;
}

.beer .errorIndicator h3{
    color: rgb(202, 143, 153);
    margin-top: 1rem;
}