.Todo {
    margin: 20px auto auto auto;
    border: 1px solid white;
    padding: 20px;
    border-radius: 10px;
    width:90%;    
}

.Todo .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}