:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 0px;
    --brightness: 100%;
    --grayscale: 0%;
    --hue: 0deg;
    --invert: 0%;
    --opacity: 100%;
}
.VariblesSubDiv img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur)) brightness(var(--brightness)) grayscale(var(--grayscale)) hue-rotate(var(--hue)) invert(var(--invert)) opacity(var(--opacity));
}

.Variables .hl {
    color: var(--base);
}

.Variables {
    margin: 50px 0 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    /* border: 1px solid red; */
}

.VariblesSubDiv {
    height: 540px;
    /* border: 1px solid red; */
}

.VarControls label {
    position: relative;
    top: -8px;
    margin-right: 10px;
}

.VarControls input {    
    margin-right: 10px;
}

.VarControls .ColorInput {
    position: relative;
    top: -7px;    
}

.VarControls .Reset {
    /* position: relative;
    top: -8px; */
    margin: 10px 15px;
    width: 200px;
    float: right;
}

.Info {
    /* border: 1px solid grey; */
}

.Info > * {
    font-size: 70%;    
}
