.Home {
    margin: auto;
    /* height: 40vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

.Home .title {    
    display: flex;
}

.Home .title h1 {   
    display: inline;
}

.Home .title .finger {    
    font-size: 6rem;
    color: transparent;    
    text-shadow: 0 0 0 yellowgreen;
}