.Home {
    margin: auto;
    /* height: 40vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    text-align: center;
}

.Home .title {    
    display: flex;
}

.Home .title h1 {   
    display: inline;
}

.Home .title .finger {    
    font-size: 6rem;
    color: transparent;    
    text-shadow: 0 0 0 yellowgreen;
}

#root > div > div.Container > div > div.portfolioLink > a {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    transition: 0.1s cubic-bezier(0,-0.85,1,1.84) all;   
}

#root > div > div.Container > div > div.portfolioLink > a:hover {   
   text-decoration: none;
   transform: scale(1.2);   
}

