.MenuDrop {
    border: 1px solid red;
    box-sizing: border-box;
    background: 
        linear-gradient(45deg, hsla(340, 100%, 55%, 0.5) 0%, hsla(340, 100%, 55%, 0) 50%),
        linear-gradient(135deg, hsla(225, 95%, 50%, 0.5) 0%, hsla(225, 95%, 50%, 0) 50%),
        linear-gradient(225deg, hsla(140, 90%, 50%, 0.5) 0%, hsla(140, 90%, 50%, 0) 50%),
        linear-gradient(315deg, hsla(34, 95%, 55%, 0.2) 100%, hsla(35, 95%, 55%, 0) 0%);
    /* width:33vw; */
    /* position: relative; */
    /* perspective: 600px; */

}

.MenuDrop ul {
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    justify-content: space-around;
}

.MenuDrop .cool > li {
    position: relative;
    display: flex;
    justify-content: center;
    border: 2px solid red;
}

.MenuDrop ul li {
    display: flex;
    position: relative;
    justify-content: center;
    border: 1px solid blue;
}

.MenuDrop li a {
    padding: 10px 20px;
    text-decoration: none;
    background: rgba(0,0,0,0.2);
    margin: 0 3px;
    border-radius: 10px;
    display: inline-block;
    
}

.MenuDrop .dropdown{
    background: wheat;
    color: black;
    opacity: 0;
    position: absolute;
    overflow: hidden;
    padding: 20px;
    top: -20px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    transform: translateY(100px);
    will-change: transform;
    display: none;
}

.MenuDrop .trigger-enter .dropdown {
    display: block;
}

.trigger-enter-active .dropdown {
    opacity: 1;
}

.MenuDrop .dropDownBackground {
    width: 100px;
    height: 100px;
    position: absolute;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 50px 100px rgba(50,50,93,0.1), 0 15px 35px rgba(50,50,93,0.15), 0 5px 15px rgba(0,0,0,0.1);
    transition: all 0.3s, opacity 0.1s, translate 0.2s;
    transform-origin: 50% 0%;
    display: flex;
    justify-content: center;
    opacity: 0;
}

.MenuDrop .dropDownBackground.open {
    opacity: 1;
}

.MenuDrop .arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    transform: translateY(-50%) rotate(45deg);
}

.MenuDrop .bio {
    min-width: 330px;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    line-height: 1.7;
}

.MenuDrop .bio > img {
    float: left;
    margin-right: 20px;
}

.MenuDrop .courses {
    min-width: 200px;
}

.MenuDrop .courses li {
    padding: 10px 0;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.MenuDrop .dropdown3 > li {
    margin: 5px;
    padding: 5px;
}
.linkedin {background: #fff;}
.git {background: rgb(90, 90, 90);}
.insta {background: rgb(218, 86, 196);}
.twitter {background: #019fe9;}
.whatsapp {background: rgb(20, 190, 28);}