.GitHub {
    margin:auto;
    width: 90%;    
}

.GitHub div span {    
    font-size: 1.1rem;
    color: brown;
    margin-right: 10px;
}

.GitHub div {
    transition: all 0.3s ease-in-out;
    margin-left: 40px;    
    width:60%;
}

.GitHub div:hover {
    transform: scale(1.1);
}