.App-header {
    display: flex;
    border-bottom: 1px solid white;
    height: 75px;
}

.Logo h1 {    
    font-size: 130%;
    margin: auto;
    margin-left: 1px;
}

.Logo {
    display: flex;
    padding: 0 5px;
    width: 115px;
}

.Menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* align-items: flex-end; */
    
    /* flex-wrap: wrap; */
    
    /* justify-content: space-around; */
    /* width: 80%; */
    /* flex-direction: column; */

}

.Menu a {
    text-decoration: none;
    margin: 2px;
    align-self: center;    
    padding: 5px 7px;
    border: 1px solid white;
    color: white;
    transition: all 0.1s ease-in-out;    
    /* height: auto; */
    
}

.Menu a:hover {
    transform: scale(1.1);
}

