.App-header {
    display: flex;
    border-bottom: 1px solid white;
    height: 75px;
}

.Logo a h3 {    
    font-size: 130%;
    align-self: center;
    color: white;    
    margin: auto;    
}

.Logo a {    
    margin: auto;
    justify-content: center;
    text-decoration: none;
    text-align: center;    
    display: flex;
}

.Logo {
    display: flex;    
    width: 80px;
}

.Menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.Menu a {
    text-decoration: none;
    margin: 2px;
    align-self: center;    
    padding: 5px 7px;
    border: 1px solid white;
    color: white;
    transition: all 0.1s ease-in-out;        
}

.Menu a.selected {
    background: tomato;
}

.Menu a:hover {
    transform: scale(1.1);
}

