.ClockComponent {    
    margin: auto;
    width: 80vw;    
    display: flex;    
    flex-direction: column;        
}

.App .ClockComponent h1 {
    margin: 0;
}

.ClockComponent .Clock {
    /* border: 1px solid red; */
    border: 2px solid white;
    width: 300px;
    height: 300px;
    border-radius: 50%;   
}

.ClockComponent .hands div {
    border: 1px solid rgb(136, 85, 85);
    width: 130px;
    height: 2px;
    border-radius: 3px;
    background-color: linear-gradient(#fce7e7, #f71616);
    position: relative;
    top: 150px;
    left: 20px;
    transform: rotate(90deg);
    transform-origin: 100%;    
}

.ClockComponent .transition {
    transition: all 0.2s cubic-bezier(0.01, 2.83, 0.58, 1);
}

.ClockComponent #hrsHand {
    border: 2px solid rgb(136, 85, 85);
    width: 110px;
    left: 40px;
    top: 146px;
}

.ClockComponent #secHand {
    height: 1px;
}

.ClockComponent .description {    
    width: 55%;
    margin-top: 7rem;
    /* border: 1px solid red;   */
}