.Features {
    margin: auto;
    width: 100vw;    
    display: flex;
    flex-direction: column;    
}

.Features .Grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: calc(100vh - 132px);     
}

.Features .Grid .innerDiv{
    margin: auto;
}