.Features {
    margin: auto;
    width: 100vw;
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    /* border: 1px solid red;     */
}

.Features .Grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: calc(100vh - 132px);
    /* grid-gap: 2px; */
    /* border: 1px dotted white; */
    /* box-sizing: border-box; */
}

.Features .Grid > div {
    display: flex;    
    /* border: 1px solid blue; */
}

.Features .Grid > div > span {
    font-size: 5vw;
}

.Features .Grid .innerDiv{
    margin: auto;
    /* border: 1px solid red; */
}


