.Features {
    margin: auto;
    width: 100vw;
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;    
}

.Features .Grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: calc(100vh - 132px);    
}

.Features .Grid .six span{
    transition: 0.2s ease-in-out all;
    border-radius: 20px;
    margin: auto;
    font-size: 4rem;
    border: 2px solid white;
    padding: 30px 60px;
    box-shadow: 3px 5px 10px rgba(255, 255, 255, 0.507);
}

.Features .Grid > div {
    display: flex;    
}

.Features .Grid > div > span {
    font-size: 5vw;
}

.Features .Grid .innerDiv{
    margin: auto;    
}