.Recognition {
    margin: 20px auto 0 20px;    
    width: 100vw;
    color: '#FFFFFF'
}

.Recognition .tex {
    font-size: 200%;
    width: 49vw;   
}

.Recognition .controls {
    width: 300px;    
}

.Recognition .controls button {
    margin-right: 40px;
}

.Recognition .Unicorne {   
    position: absolute;
    top: 50%;
    left: 150%;
    transform: translateX(-50%) translateY(-50%);
    transition: all 0.3s ease-in-out;
}

.Recognition .Active {    
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.Recognition .textContainer {
    display: flex;    
    flex-direction: column;
    flex-wrap: wrap;
    height: 88%;
}