.Recognition {
    margin: 20px auto 0 20px;    
    width: 100%;
    color: '#FFFFFF';
    /* border: 1px solid red; */
    display: flex;    
    flex-direction: column;
}

.Recognition .top {
    height: 122px;
    /* border: 1px dotted white; */
}

.Recognition .secondLine {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.Recognition .secondLine h4 {
    margin-right: 1rem;
}

.Recognition .secondLine h6 {
    color: red;
    font-size: 0.8rem;
}

.Recognition .tex {
    font-size: 200%;
    width: 49vw;   
}

.Recognition .controls {
    width: 300px;    
}

.Recognition .controls button {
    margin-right: 40px;
}

.Recognition .Unicorne {   
    position: absolute;
    top: 50%;
    left: 150%;
    transform: translateX(-50%) translateY(-50%);
    transition: all 0.3s ease-in-out;        
}

.Recognition .Active {    
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.Recognition .textContainer {
    display: flex;    
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100% - 122px);
    /* border: 1px solid yellowgreen; */
}