.App .Container {    
    display: flex;    
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    height: calc(100vh - 75px);
}

.App .Background {    
    width: 100vw;
    height: calc(100vh - 75px);
    overflow: hidden;    
}

.App .Container h1 {
    margin:auto;
}

.App .copyright {
    position: absolute;
    top: 95%;
    width: 420px;
    /* text-align: center; */
}