.Container {
    /* height: 90vh; */
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* border: 3px dotted white; */
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    height: calc(100vh - 75px);
}
.Background {
    /* border: 1px solid blue; */
    width: 100vw;
    height: calc(100vh - 75px);
    overflow: hidden;    
}

.Container h1 {
    margin:auto;
}

.Container .twoComp {
    display: flex;
    width: 100vw;
    /* border: 1px solid red; */
    justify-content: space-around;
}