body {
    overflow-x: hidden;
    overflow-y: hidden;      
}

.App .mobileOverlay {
    display: none;    
}

.App .Container {    
    display: flex;    
    position: fixed;
    top: 55px;
    left: 0;
    width: 100%;
    height: calc(100vh - 79px);
    overflow-x: hidden;    
}

.App .Background {
    background: url(./45621.jpg) center center;    
    width: 100vw;
    height: calc(100vh - 55px);   
}

.App .Container h1 {
    margin:auto;
}

.App .copyright {
    position: absolute;
    bottom: 0;
    color: palevioletred;    
}


/* ---------------------------------------------- */
/* scroll-bar: */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

@media screen and (max-width: 800px) {
    .App .mobileOverlay {
        display: flex;
        position: fixed;
        top:0;
        left:0;
        width: 100vw;
        height: 100vh;
        background-color: rgb(85, 24, 13);
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;        
    }

    .App .mobileOverlay svg{
        font-size: 5rem;
        margin-bottom: 2rem;
    }
    
}