.WebCam {
    margin: 0 auto 0 auto;
}
.RGB {
    margin: 15px 0;
    /* display: inline; */
    /* border: 1px solid red; */
}

.RGB input {
    padding: 2px;
    margin: 0 20px 0 0;
}

.Controls button {
    padding: 10px 25px;
    margin: 15px 10px 10px 0;
}

.Upper {
    display: flex;    
}


.RGB label {
    padding: 2px;
    margin-right: 10px;
    position: relative;
    top: -10px;
}

.WebCam video {
    height: 180px;
    width: 240px;
    display: inline;
    margin: 0 0 0 100px;
}

.Strip {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    /* height: 156px; */
    /* border: 1px solid red; */
}

.Strip img {
    width: 64px;
    height: 48px;
}

.Strip a {
    padding: 0 10px 0 2px;    
}