:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 0px;
    --brightness: 100%;
    --grayscale: 0%;
    --hue: 0deg;
    --invert: 0%;
    --opacity: 100%;
}

.VariblesSubDiv img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur)) brightness(var(--brightness)) grayscale(var(--grayscale)) hue-rotate(var(--hue)) invert(var(--invert)) opacity(var(--opacity));
}

.Variables .hl {
    color: var(--base);
}

.Variables {
    margin: 90px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    position: relative;  
    height: 400px;
    /* top: 4rem; */
}

.VariblesSubDiv {
    height: 540px;   
}

.VarControls label {
    position: relative;
    top: -8px;
    margin-right: 5px;
}

.VarControls input {    
    margin-right: 10px;
    width: 60px;
    /* height: 10px; */
}

.VarControls .ColorInput {
    position: relative;
    top: -7px;    
}

.VarControls .Reset {   
    margin: 0 10px;
    width: 100px;
    float: right;
}